@model WebApplication1.Models.Subjects

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <style>
        /* CSS cho phần container */
        .form-container {
            width: 50%;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* CSS cho tiêu đề */
        h4 {
            font-size: 18px;
            margin-bottom: 10px;
            color: #333;
        }

        hr {
            margin-top: 5px;
            margin-bottom: 15px;
            border-top: 1px solid #ddd;
        }

        /* CSS cho form group */
        .form-group {
            margin-bottom: 15px;
        }

        .control-label {
            font-weight: bold;
        }

        /* CSS cho nút Save */
        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            padding: 10px 20px;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        /* CSS cho nút Back to List */
        .btn {
            text-decoration: none;
            color: #333;
            cursor: pointer;
        }

            .btn:hover {
                text-decoration: none;
                color: #333;
            }

    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-container">
            <h4>Subjects</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SubjectID)

            <div class="form-group">
                @Html.LabelFor(model => model.SubjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SubjectName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubjectName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    }

  

</body>
</html>
