@model WebApplication1.Models.Teachers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <style>
        /* CSS cho form */
        form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* CSS cho phần container */
        .form-container {
            width: 50%;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* CSS cho tiêu đề */
        h4 {
            font-size: 18px;
            color: #333;
            margin-bottom: 20px;
        }

        /* CSS cho đường ngăn cách */
        hr {
            margin-top: 5px;
            margin-bottom: 15px;
            border-top: 1px solid #ddd;
        }

        /* CSS cho form group */
        .form-group {
            margin-bottom: 15px;
        }

        .control-label {
            font-weight: bold;
        }

        /* CSS cho nút */
        .btn {
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        /* CSS cho phần chú thích lỗi */
        .text-danger {
            color: #dc3545;
            font-size: 14px;
        }

    </style>
</head>
<body>
    <form id="saveForm" method="post">
        <div class="form-container">
            @Html.AntiForgeryToken()

            <div class="form-content">
                <h4>Teachers</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.TeacherID)

                <div class="form-group">
                    @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TeacherName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TeacherName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </form>
  

</body>
</html>
